.ticket span{
    display: inline-block;
    height: 85px;
    width: 85px;
    background-color: #fff;
    color: #222;
    border-radius: 12px;
    font-size: 50px;
    text-align: center;
    margin: 5px;
}
.ticket{
    margin-bottom: 10px;
}